
body{
    background-color: #332928;

}
.top{
    display: block;
    margin-top: auto;
}
.middle{
display: none;

}
.bottom{
display: none;

}
.logo{

  background-color: transparent;
  display: inline-flex;
  padding: 0px;
  border: solid;
  margin-top: 10%;
  margin-left: auto;
  height: 100%;
  min-width: 192px;
  align-content: center;

}

.logoClass{
    background-color: transparent;
    height: 352px;
    width: 210px;
    margin-top: -6px;
}
p{
    font-family: anonymous-pro, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    
}
h2{
    font-family: novecento-slab, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #D4AF37;